<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<header>
	<div class="container">
		<div class="row top-header">
			<div class="col-sm-3 text-left">
				<a href="#" class="logo">
					<img src="images/logo.png" alt="logo"/>
				</a>
			</div>				
			<div class="col-sm-9">
				<ul class="top-link pull-right">
					<li class="hidden-xs"><a href="">收藏</a></li>
					<li class="hidden-xs"><a href="#">比较</a></li>
					<li class="hidden-xs"><a href="product_checkout.html">结帐</a></li>
					<li class="dropdown hidden-xs">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">我的账户 <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="login.html">登录</a></li>
							<li><a href="register.html">注册</a></li>
							<li><a href="#">注销</a></li>
						</ul>
					</li>
					<li class="pull-right">
						<div class="cart dropdown">
							<a href="#" class="cart-item dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span>2</span><i class="fa fa-cart-plus"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<li>
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img class="media-object" src="images/9.jpg" width="50" alt="..."/>
											</a>
										</div>
										<div class="media-body">
											<h4 class="product-name">草莓</h4>
											<p>$15.0<span> x 3</span> <i class="fa fa-remove"></i></p>
										</div>
									</div>
								</li>
								<li>
									<div class="media">
										<div class="media-left">
											<a href="#">
												<img class="media-object" src="images/8.jpg" width="50" alt="..."/>
											</a>
										</div>
										<div class="media-body">
											<h4 class="product-name">红椒</h4>
											<p>$15.0<span> x 3</span> <i class="fa fa-remove"></i></p>
										</div>
									</div>
								</li>
								<li class="table-div">
									<ul class="table-content">
										<li class="row m-0">
											<div class="col col-xs-6">
												<strong>合计:</strong>
											</div>
											<div class="col col-xs-6 color-3 f-bold">
												$90.00
											</div>
										</li>
									</ul>
								</li>
								<li>
									<p>
										<a href="#" class="btn ht-btn bg-3">结账</a>
										<a href="#" class="btn ht-btn bg-6">购物车</a>
									</p>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="bg-mn color-inher">
			<div class="row m-0">
				<div class="col-sm-1 col-md-1 col-lg-2 p-0">
					<div class="dropdown category-bar">
		
				
					</div>
				</div>
				<div class="col-sm-8 col-md-8 col-lg-7 p-0">
					<div class="main-menu">
						<nav class="navbar navbar-default menu">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed m-r-xs-15" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav"> 
									<li><a href="index.html">主页</a></li>
									<li><a href="about.html">蔬菜</a></li>
									<li><a href="login.html">水果</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>	
				<div class="col-sm-3 col-md-3 col-lg-3 p-0">
					<div class="search-box m-l-xs-15 m-r-xs-15">
						<input type="text" class="form-item" placeholder="Search..."/>
						<button type="submit" class="fa fa-search"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
</html>