<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
		<title>有机农业</title>
		<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
        <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" media="screen"/>
        <link rel="stylesheet" th:href="@{/css/owl-coursel/owl.carousel.css}" />
        <link rel="stylesheet" th:href="@{/css/owl-coursel/owl.transitions.css}" />
        <link rel="stylesheet" th:href="@{/css/magnific-popup/magnific-popup.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" media="screen"/>
        <link rel="stylesheet" th:href="@{/css/fw.css}" media="screen"/>
</head>
<body>
</body>
</html>