<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<div>
		<input type="hidden" th:value="${#httpServletRequest.getContextPath()}" id="ctx"/>
		<script type="text/javascript" th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery/jquery-ui.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/owl-coursel/owl.carousel.js}"></script>
		<script type="text/javascript" th:src="@{/js/magnific-popup/jquery.magnific-popup.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
	</div>
</body>
</html>
