<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- import html layout/header.html -->
<head th:replace="layout/head :: head"></head>
<body class="bg-m">
<div class="preloader">
	<i class="fa fa-spinner"></i>
</div>
<header th:replace="layout/header :: header"></header>
<!-- Banner -->
<section class="m-t-0">
	<div class="container">
		<div class="row slider slider-1">
			<div class="owl" data-items="4" data-itemsDesktop="3" data-itemsDesktopSmall="2" data-itemsTablet="2" data-itemsMobile="1" data-transitionstyle="fade" data-singleItem="true" data-autoplay="true" data-pag="false" data-buttons="false">
				<div class="col-sm-8 col-md-9 pull-right">
					<div class="slider-item">
						<img src="images/bg-13.png" alt="image"/>
						<div class="slider-caption">
						<h3 class="heading-size-3">100% 自然</h3> 
							<h2 class="heading-size-1">有机物</h2>
							<h4 class="heading-size-5">最佳产品有机商店</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-9 pull-right">
					<div class="slider-item">
						<img src="images/bg-12.png" alt="image"/>
						<div class="slider-caption">
							<h3 class="heading-size-3">我们供应农场</h3> 
							<h2 class="heading-size-1">蔬菜</h2>
							<h4 class="heading-size-5">农家新鲜蔬菜水果</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-9 pull-right">
					<div class="slider-item">
						<img src="images/bg-21.png" alt="image"/>
						<div class="slider-caption">
							<h3 class="heading-size-3">简单</h3>
							<h1 class="heading-size-1">水果</h1>
							<h4 class="heading-size-5">很多小细节放在一起，就让人感觉很不一样</h4>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>
<section class="m-t-0">
	<div class="container">
		<div class="row m-0">
			<div class="col-sm-4 m-b-30 p-0">
				<div class="banner bg-img-8 bg-2">
					<div class="caption">
						<h2 class="heading-size-4">蔬菜</h2>
						<h3 class="heading-size-6 f-normal">简单 清新</h3>
						<a href="#" class="btn ht-btn ht-btn-bg-2">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 m-b-30 p-0">
				<div class="banner bg-img-0 bg-6">
					<div class="caption">
						<h2 class="heading-size-4">水果</h2>
						<h3 class="heading-size-6 f-normal">给你的家人</h3>
						<a href="#" class="btn ht-btn ht-btn-bg-2">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4 p-0">
				<div class="banner bg-img-7 bg-3">
					<div class="caption">
						<h2 class="heading-size-4">有机物</h2>
						<h3 class="heading-size-6 f-normal">100% 有机</h3>
						<a href="#" class="btn ht-btn ht-btn-bg-2">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Product tabs -->
<div>
	<div class="container text-center m-t-30">
		<h3 class="title f-30">产品</h3>
		<div class="ht-tabs ht-tabs-product text-center">

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab-description">
					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-3">
							<!-- Product item -->
							<div class="product-item">
								<a href="product_detail.html">
									<img src="images/5.jpg" alt="image"/>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a href="#">Apple</a>
									</h4>
									<div class="product-price-group">
										<span class="product-price">$64.00</span>
									</div>
									<div class="ht-btn-group">
										<a href="#" class="wishlist_btn"><i class="fa fa-heart-o"></i></a>
										<a href="#">Add to cart</a>
										<a href="#" class="compare_btn"><i class="fa fa-exchange"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<!-- Product item -->
							<div class="product-item border-green">
								<a href="product_detail.html">
									<img src="images/20.jpg" alt="image"/>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a href="#">Peaches</a>
									</h4>
									<div class="product-price-group">
										<span class="product-price">$64.00</span>
									</div>
									<div class="ht-btn-group">
										<a href="#" class="wishlist_btn"><i class="fa fa-heart-o"></i></a>
										<a href="#">Add to cart</a>
										<a href="#" class="compare_btn"><i class="fa fa-exchange"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<!-- Product item -->
							<div class="product-item">
								<a href="product_detail.html">
									<img src="images/14.jpg" alt="image"/>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a href="#">Pineapple</a>
									</h4>
									<div class="product-price-group">
										<span class="product-price">$64.00</span>
									</div>
									<div class="ht-btn-group">
										<a href="#" class="wishlist_btn"><i class="fa fa-heart-o"></i></a>
										<a href="#">Add to cart</a>
										<a href="#" class="compare_btn"><i class="fa fa-exchange"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<!-- Product item -->
							<div class="product-item">
								<a href="product_detail.html">
									<img src="images/13.jpg" alt="image"/>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a href="#">Defiant tomato</a>
									</h4>
									<div class="product-price-group">
										<span class="product-price">$64.00</span>
									</div>
									<div class="ht-btn-group">
										<a href="#" class="wishlist_btn"><i class="fa fa-heart-o"></i></a>
										<a href="#">Add to cart</a>
										<a href="#" class="compare_btn"><i class="fa fa-exchange"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<!-- Product item -->
							<div class="product-item">
								<a href="product_detail.html">
									<img src="images/12.jpg" alt="image"/>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a href="#">Pear</a>
									</h4>
									<div class="product-price-group">
										<span class="product-price">$64.00</span>
									</div>
									<div class="ht-btn-group">
										<a href="#" class="wishlist_btn"><i class="fa fa-heart-o"></i></a>
										<a href="#">Add to cart</a>
										<a href="#" class="compare_btn"><i class="fa fa-exchange"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<!-- Product item -->
							<div class="product-item">
								<a href="product_detail.html">
									<img src="images/25.jpg" alt="image"/>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a href="#">Corn</a>
									</h4>
									<div class="product-price-group">
										<span class="product-price">$64.00</span>
									</div>
									<div class="ht-btn-group">
										<a href="#" class="wishlist_btn"><i class="fa fa-heart-o"></i></a>
										<a href="#">Add to cart</a>
										<a href="#" class="compare_btn"><i class="fa fa-exchange"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<!-- Product item -->
							<div class="product-item">
								<a href="product_detail.html">
									<img src="images/7.jpg" alt="image"/>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a href="#">lemon</a>
									</h4>
									<div class="product-price-group">
										<span class="product-price">$64.00</span>
									</div>
									<div class="ht-btn-group">
										<a href="#" class="wishlist_btn"><i class="fa fa-heart-o"></i></a>
										<a href="#">Add to cart</a>
										<a href="#" class="compare_btn"><i class="fa fa-exchange"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-3">
							<!-- Product item -->
							<div class="product-item">
								<a href="product_detail.html">
									<img src="images/8.jpg" alt="image"/>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a href="#">Red bell pepper</a>
									</h4>
									<div class="product-price-group">
										<span class="product-price">$64.00</span>
									</div>
									<div class="ht-btn-group">
										<a href="#" class="wishlist_btn"><i class="fa fa-heart-o"></i></a>
										<a href="#">Add to cart</a>
										<a href="#" class="compare_btn"><i class="fa fa-exchange"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Process order -->
<section  class="process">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">	
				<div class="media ht-media">
					<div class="media-left">
						<i class="fa fa-phone bg-6"></i>
					</div>
					<div class="media-body">
						<h5 class="media-heading">Support 24/7: 133-3333-3333</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">	
				<div class="media ht-media">
					<div class="media-left">
						<i class="fa fa-truck bg-2"></i>
					</div>
					<div class="media-body">
						<h5 class="media-heading">所有订单免费送货</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">	
				<div class="media ht-media">
					<div class="media-left">
						<i class="fa fa-undo bg-3"></i>
					</div>
					<div class="media-body">
						<h5 class="media-heading">100%退款保证</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer th:replace="layout/footer :: footer"></footer>
<div th:include="layout/script :: div"></div>
</body>
</html>